<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 class="title">Pagina Inicial</h1>
    <h2 class="subtitle">EJS Funcionando</h2>
    <p>TEXTO DINAMICO ABAIXO</p>
    <p>
        <%= name %>
    </p>

    <%- include('./includes/footer', { text: "OI DA INICIAL" }) %>
</body>

</html>