<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista dos usuarios</h1>
    <ul>
    <% for (let i = 0; i < users.length; i++) { %>
        <li><img src="<%= bucket %><%= users[i].image %>" alt="" width="50" height="50"><%= users[i].name %></li>
    <% } %>
    </ul>
</body>
</html>